{% extends 'banner.html.twig' %}
{% block content %}

  <div id="page-header-div">{{ page_heading_2 }}</div>
    <div id="page-content-div">
        <p>{{ page_text }}</p>
{{ result }}
    </div>
{% endblock %}